<?xml version="1.0" encoding="utf-8"?>
<PluginDescriptor>
	<JavaPlugin>
		<interfaceClass>org.bimserver.plugins.queryengine.QueryEnginePlugin</interfaceClass>
		<implementationClass>org.bimserver.jqep.JavaQueryEnginePlugin</implementationClass>
		<description>Java Query Engine Plugin</description>
	</JavaPlugin>
</PluginDescriptor>